**/*.bin
**/*.log
**/*.o
**/*.out
**/*.exe
**/*.mpi
**/log.*
**/wrfinput.*
**/UPA*
**/SFC*
**/*.nc
**/*.nc4
**/*.log.*
**/*.out.*
**/*.err.*
**/*.error.*
**/obs.raw
**/*.pkl
**/*.dat
**/*.mod
**/*.a
**/*AllWindsQIText
**/*tar.gz
**/*.diag
**/obs_duplicate_time.diag*
